aiohttp==3.6.2
aniso8601==7.0.0
asgiref==3.2.7
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.4.3
Automat==20.2.0
beautifulsoup4==4.8.2
boto3==1.12.24
botocore==1.15.24
certifi==2019.11.28
cffi==1.14.0
channels==2.4.0
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==2.9.2
daphne==2.5.0
dj-database-url==0.5.0
dj-email-url==1.0.0
Django==3.0.4
django-allow-cidr==0.3.1
django-cache-url==3.1.2
django-channels-graphql-ws==0.5.0
django-cors-headers==3.2.1
django-graphql-jwt==0.3.1
django-storages==1.9.1
docutils==0.15.2
environs==7.3.1
graphene==2.1.8
graphene-django==2.8.2
graphene-subscriptions==1.0.2
graphql-core==2.3.1
graphql-relay==2.0.1
gunicorn==20.0.4
h11==0.9.0
httptools==0.1.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
jmespath==0.9.5
lxml==4.5.1
marshmallow==3.5.1
msgpack==0.6.2
multidict==4.7.6
netaddr==0.7.19
Pillow==7.0.0
promise==2.3
psycopg2==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2019.3
requests==2.23.0
Rx==1.6.1
s3transfer==0.3.3
service-identity==18.1.0
singledispatch==3.4.0.3
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
Twisted==20.3.0
txaio==20.4.1
ua-parser==0.10.0
urllib3==1.25.8
uvicorn==0.11.5
uvloop==0.14.0
websockets==8.1
yarl==1.4.2
zope.interface==5.1.0
